.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 960px;
  margin: 50px auto;
  height: calc(100vh - 328px);
}
.content {
  overflow: auto;
  padding-right: 30px;
}
.content::-webkit-scrollbar {
  width: 0.5em;
}

.content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 25px;
}
.sidebar {
  padding-left: 30px;
}
.sidebar form {
  padding: 30px;
  background: #daf7dc;
  border-radius: 25px;
}
.sidebar input,
.sidebar select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  color: #555;
  font-size: 1em;
}
.sidebar label {
  margin: 0 auto 20px;
  display: block;
  color: #000;
}
.sidebar .date {
  font-size: 0.8em;
}
.sidebar .date:hover,
.sidebar .category:hover {
  cursor: pointer;
}

.sidebar button {
  font-size: 1em;
  cursor: pointer;
  display: block;
  width: 100%;
  border: 1px solid #1f8a58;
  padding: 10px 12px;
  border-radius: 25px;
  font-weight: 600;
  background: #4cc49a;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.sidebar button:hover {
  scale: 1.1;
}
.sidebar h3 {
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}
.sidebar aside {
  margin-top: 40px;
  color: #555;
}
.sidebar aside li {
  margin: 10px;
}
.transactions .edit-color-input {
  visibility: hidden;
}
.transactions .edit-color {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 10px 5px 10px 0;
}
/* color picker styling */
.sidebar input[type='color'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 265px;
  height: 45px;
  padding-right: 30px;
  background-color: field;
  border: none;
  cursor: pointer;
}
.sidebar input[type='color']::-webkit-color-swatch {
  border-radius: 10px;
  border: none;
}
.sidebar input[type='color']::-moz-color-swatch {
  border-radius: 10px;
  border: none;
}
.sidebar .brush {
  position: absolute;
  margin-top: 46px;
  margin-left: 188px;
  cursor: pointer;
}

/* transactions */
.transaction-filter-container {
  position: sticky;
  top: 0px;
}
.transactions li {
  background: #f2f2f2;
  margin: 30px auto;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.transactions .edit-li {
  background: #f2f2f2;
  margin: 30px auto;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 20px 20px 20px 5px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.transactions .date {
  position: absolute;
  top: 0px;
  left: 5px;
  color: #777;
  font-size: 0.8em;
}
.transactions .edit-date {
  position: absolute;
  top: 2px;
  left: 5px;
  padding: 1px;
  color: #777;
  font-size: 0.6em;
  border: none;
  border-radius: 10px;
}
.transactions .edit-date:hover {
  cursor: pointer;
}
.transactions .name {
  color: #777;
  font-size: 1.7em;
  font-weight: bold;
}
.transactions .edit-name {
  width: 325px;
  font-size: 1.7em;
  font-weight: bold;
  padding: 2px 2px;
  margin: 3px 0px;
  border: none;
  border-radius: 10px;
}
.transactions .amount {
  margin-left: auto;
  margin-right: 40px;
  color: #777;
  font-weight: bold;
  font-size: 1.6em;
}
.transactions .edit-amount {
  color: #777;
  font-weight: bold;
  font-size: 1.6em;
  width: 150px;
  padding: 2px 2px;
  margin: 5px 10px;
  border: none;
  border-radius: 10px;
}
.transactions .category {
  color: #777;
  position: absolute;
  bottom: 0;
  left: 4px;
  font-size: 0.8em;
}
.transactions .edit-category {
  color: #777;
  position: absolute;
  bottom: 2px;
  left: 4px;
  font-size: 0.8em;
  border: none;
  border-radius: 10px;
}
.transactions .edit-category:hover {
  cursor: pointer;
}
.transactions .delete {
  position: absolute;
  top: 0;
  right: 0;
  background: #ddd;
  color: #777;
  border: none;
  padding: 2.5px 4px;
  text-align: center;
  line-height: 0;
  font-size: 0.9em;
  cursor: pointer;
}

.transactions .clicked {
  position: absolute;
  top: 54.5px;
  right: 0;
  background: #ff69614b;
  color: #777;
  border: none;
  padding: 2.5px 4px;
  text-align: center;
  line-height: 0;
  cursor: pointer;
}
.transactions .edit {
  position: absolute;
  top: 27.5px;
  right: 0;
  background: #daf7dc;
  color: #777;
  border: none;
  padding: 3px 4px;
  text-align: center;
  line-height: 0;
  cursor: pointer;
}
.transactions .edit-button {
  position: absolute;
  top: 45px;
  right: 0;
  background: #daf7dc;
  color: #777;
  border: none;
  padding: 11px 4px;
  text-align: center;
  line-height: 0;
  cursor: pointer;
}
.transactions .cancel-button {
  position: absolute;
  top: 0;
  right: 0;
  background: #ff69614b;
  color: #777;
  border: none;
  padding: 11px 4px;
  text-align: center;
  line-height: 0;
  font-size: 0.9em;
  cursor: pointer;
}
/* transaction sorting buttons */
.transaction-filter-container {
  display: flex;
  justify-content: space-around;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  background-color: #f2f2f2;
  padding-left: 15px;
}
.transaction-filter-container .button {
  border: 2px solid transparent;
  padding: 5px 30px 0px 30px;
  margin-bottom: 3px;
  background: none;
  cursor: pointer;
}
.button-active {
  border: 2px solid transparent;
  border-bottom: 2px solid #333;
  padding: 5px 30px 0px 30px;
  margin-bottom: 3px;
  background: none;
  cursor: pointer;
}
.transaction-filter-container .button:hover {
  border-bottom: 2px solid #333;
  scale: 1.25;
}

.transaction-filter-container .button-active:hover {
  border-bottom: 2px solid #333;
  scale: 1.25;
}
svg {
  pointer-events: none;
}
.transaction-info {
  position: sticky;
  top: 157px;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
}
.transaction-info-item {
  border-bottom: 2px solid #333;
  list-style-type: none;
  padding: 3px 6px;
  margin: 2px;
  color: #333;
  font-weight: bold;
  font-size: 0.8em;
}
.transaction-info-number {
  margin-left: 2px;
  padding: 2px 6px;
  border-radius: 25px;
  background: #daf7dc;
}
.transaction-info-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
}
.transaction-info-category-item {
  list-style-type: none;
  padding: 3px 6px;
  margin: 2px;
  color: #333;
  font-weight: bold;
  font-size: 0.8em;
}

/* category filter buttons */
.category-filter-container {
  position: sticky;
  top: 41px;
  z-index: 2;
}
nav.category-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: 0 1px 1px 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  background-color: #f2f2f2;
  padding: 2px;
}
.category-btn {
  border: 2px solid #daf7dc;
  background: #daf7dc;
  padding: 3px 6px;
  margin: 2px;
  border-radius: 25px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.7em;
}
.active-btn {
  background: #daf7dc;
  color: #333;
  border: 2px solid #333;
  padding: 3px 6px;
  margin: 2px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.7em;
}
.category-btn:hover {
  background: #daf7dc;
  border: 2px solid #333;
  scale: 1.3;
}

@media screen and (max-height: 920px) {
  .sidebar h3 {
    font-size: 0.9em;
    margin: 5px;
  }
  .sidebar form {
    height: 370px;
    padding: 10px;
  }
  .sidebar label {
    margin: 0;
    padding: 2px;
    font-size: 0.9em;
  }
  .sidebar input,
  .sidebar select {
    padding: 5px;
    font-size: 0.8em;
  }
  .sidebar input[type='color'] {
    height: 30px;
    padding-right: 30px;
  }
  .sidebar span {
    font-size: 0.8em;
  }
  .sidebar button {
    font-size: 0.75em;
    padding: 4px;
    margin-top: 10px;
  }
  .sidebar .brush {
    margin-top: 37px;
    margin-left: 204px;
  }

  .transactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
  }
  .transactions li {
    margin: 2px;
    padding: 0 20%;
  }
  .transactions .amount,
  .transactions .name {
    font-size: 0.7em;
    padding: 7px 20px;
    margin: 0;
  }
  .transactions .amount {
    margin: 0;
  }
  .transactions .name {
    width: 150px;
  }
  .transactions .date,
  .transactions .category {
    font-size: 0.7em;
  }
  .transactions .delete {
    padding: 4px;
  }
  .transactions .edit {
    padding: 4px;
    top: 0;
    right: 31px;
  }
  .transactions .clicked {
    padding: 4px;
    top: 0;
    right: 63px;
  }
  .category-btn {
    font-size: 0.6em;
    padding: 1px 0;
  }
  .transaction-info-item,
  .transaction-info-number {
    font-size: 0.8em;
  }
  .transaction-info-categories {
    justify-content: center;
    font-size: 0.8em;
  }
  .transactions .edit-li {
    margin: 2px;
    padding: 10px;
  }
  .transactions .edit-name,
  .transactions .edit-amount {
    font-size: 0.8em;
    padding: 2px;
    width: 150px;
  }
  .transactions .edit-color {
    height: 20px;
    width: 20px;
    margin: 15px 5px 15px 0;
  }
  .transactions .cancel-button {
    padding: 5px;
  }
  .transactions .edit-button {
    padding: 5px;
    top: 32px;
  }
}
@media screen and (max-height: 700px) {
  .sidebar h3 {
    font-size: 0.75em;
    margin: 2px;
  }
  .sidebar form {
    height: 300px;
    padding: 10px;
  }
  .sidebar label {
    padding: 1px;
    font-size: 0.75em;
  }
  .sidebar input,
  .sidebar select {
    padding: 3px;
    font-size: 0.75em;
  }
  .sidebar span {
    font-size: 0.75em;
  }
  .sidebar button {
    font-size: 0.6em;
    padding: 2px;
    margin-top: 10px;
  }
  .sidebar .brush {
    margin-top: 33px;
    margin-left: 208px;
    cursor: pointer;
  }
}
@media screen and (max-height: 600px) {
  .sidebar h3 {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .content {
    padding-right: 10px;
  }
  .category-filter-container,
  .transaction-filter-container {
    display: none;
  }
  .sidebar {
    width: 150px;
    padding: 0;
  }
  .sidebar input[type='color'] {
    width: 130px;
    height: 20px;
  }
  .transactions li {
    margin: 2px;
    padding: 10px 0;
  }
  .sidebar .brush {
    height: 15px;
    margin-top: 31px;
    margin-left: 78px;
  }
  .transactions .delete {
    padding: 0.5px;
  }
  .transactions .edit {
    padding: 0.5px;
    top: 0;
    right: 24px;
  }
  .transactions .clicked {
    padding: 0.5px;
    top: 0;
    right: 48px;
  }
  .transactions .name {
    width: 50px;
    font-size: 0.6em;
  }
  .tranasction .amount {
    padding-top: 10px;
  }
  .transaction .amount,
  .transactions .date,
  .transactions .category {
    font-size: 0.6em;
  }
  .transactions .edit-li {
    margin: 2px;
    padding: 10px;
    /* justify-content: center; */
  }
  .transactions .edit-name,
  .transactions .edit-amount {
    font-size: 0.8em;
    padding: 2px;
    width: 150px;
  }
  .transactions .edit-color {
    height: 20px;
    width: 20px;
    margin: 15px 5px 15px 0;
  }
  .transactions .cancel-button {
    padding: 5px;
  }
  .transactions .edit-button {
    padding: 5px;
    top: 32px;
  }
}
