.container {
  max-height: 85vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}
.content {
  overflow: auto;
  z-index: 0;
}
.toggle {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto 20px auto;
  border: none;
  padding: 10px 8px;
  border-radius: 25px;
  background: rgba(207, 205, 205, 0.643);
  cursor: pointer;
  --webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.line {
  font-size: 20px;
  font-weight: 400;
  margin: 0 4px;
  color: rgba(207, 205, 205, 1);
}
.toggle-search,
.toggle-search-active,
.toggle-list,
.toggle-list-active {
  height: 30px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.toggle-search-active,
.toggle-list-active {
  background: #4cc49a;
  --webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar form {
  padding: 30px;
  background: #daf7dc;
  border-radius: 25px;
  --webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.sidebar input,
.sidebar select {
  width: 100%;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  color: #555;
  font-size: 1em;
}
.sidebar label {
  margin: 0 auto 20px;
  display: block;
  color: #000;
}
.sidebar .date {
  font-size: 0.8em;
}
.sidebar .date:hover,
.sidebar .category:hover {
  cursor: pointer;
}

.sidebar button {
  font-size: 1em;
  cursor: pointer;
  display: block;
  width: 100%;
  border: 1px solid #1f8a58;
  padding: 10px 12px;
  border-radius: 25px;
  font-weight: 600;
  background: #4cc49a;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.sidebar button:disabled {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar button:disabled:hover {
  cursor: default;
}
.sidebar h3 {
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}
.sidebar aside {
  margin-top: 40px;
  color: #555;
}
.sidebar aside li {
  margin: 10px;
}
.transactions .edit-color-input {
  visibility: hidden;
}
.transactions .edit-color {
  height: 25px;
  width: 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 10px 5px 10px 0;
}
/* color picker styling */
.sidebar input[type='color'] {
  height: 45px;
  width: 265px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
  background-color: field;
  border: none;
  cursor: pointer;
}
.sidebar input[type='color']::-webkit-color-swatch,
.sidebar input[type='color']::-moz-color-swatch {
  border-radius: 10px;
  border: none;
}
.sidebar .brush {
  position: absolute;
  margin-top: 38px;
  margin-left: 188px;
  cursor: pointer;
}
/* no transactions */
.no-transaction-list {
  margin: 10px auto 20px auto;
  background: rgba(228, 227, 227, 0.643);
  height: 150px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  border-radius: 25px;
  text-align: center;
  --webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.no-transaction-list h1 {
  font-size: 1em;
}
.click {
  width: 50%;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #1f8a58;
  padding: 10px 12px;
  border-radius: 25px;
  font-weight: 600;
  background: #4cc49a;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.oops {
  position: relative;
  top: 8px;
  padding: 0 5px 0 5px;
}
.form-edit {
  position: relative;
  top: 1px;
  left: 1px;
}
/* transactions */
.transactions {
  margin: 0 auto;
  width: 500px;
  height: fit-content;
}
.transactions li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  background: none;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  border-bottom: 0.5px solid #5555555c;
  padding: 20px 0px;
  overflow: hidden;
}
.transactions .edit-li {
  position: relative;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  margin: 0px auto;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 15px 15px 15px 5px;
  overflow: hidden;
}
.transactions .date {
  position: absolute;
  top: 0px;
  left: 5px;
  color: #777;
  font-size: 0.75em;
}
.transactions .edit-date {
  position: absolute;
  top: 2px;
  left: 5px;
  padding: 1px;
  color: #777;
  font-size: 0.6em;
  border: none;
  border-radius: 10px;
}
.transactions .edit-date:hover {
  cursor: pointer;
}
.transactions .name {
  margin-left: 25px;
  color: #333;
  font-size: 1em;
  font-weight: 500;
}
.transactions .edit-name {
  width: 250px;
  font-size: 0.8em;
  font-weight: bold;
  padding: 2px 2px;
  margin: 3px 0px;
  border: none;
  border-radius: 10px;
}
.transactions .amount {
  margin-right: 50px;
  color: #333;
  font-weight: 500;
  font-size: 1em;
}
.transactions .edit-amount {
  color: #777;
  font-weight: bold;
  font-size: 0.8em;
  width: 120px;
  padding: 2px 2px;
  margin: 5px 20px 5px 0px;
  border: none;
  border-radius: 10px;
}
.transactions .category {
  color: #777;
  position: absolute;
  bottom: 0;
  left: 4px;
  font-size: 0.8em;
}
.transactions .edit-category {
  color: #777;
  position: absolute;
  bottom: 2px;
  left: 4px;
  font-size: 0.8em;
  border: none;
  border-radius: 10px;
}
.transactions .edit-category:hover {
  cursor: pointer;
}
.transactions .delete,
.transactions .clicked,
.transactions .edit {
  position: absolute;
  top: 0;
  right: 0;
  background: #ddd;
  color: #777;
  border: none;
  padding: 2px 4px;
  text-align: center;
  line-height: 0;
  font-size: 0.9em;
  cursor: pointer;
}

.transactions .clicked {
  top: 44.5px;
  background: #ff69614b;
}
.transactions .edit {
  top: 20.5px;
  background: #daf7dc;
  padding: 3px 4px;
}
.transactions .edit-button,
.transactions .cancel-button {
  position: absolute;
  top: 38px;
  right: 0;
  background: #daf7dc;
  color: #777;
  border: none;
  padding: 9px 4px;
  text-align: center;
  line-height: 0;
  cursor: pointer;
}
.transactions .cancel-button {
  top: 0;
  background: #ff69614b;
}
/* transaction sorting buttons */
.transaction-filter-container {
  z-index: 1;
  position: sticky;
  top: 0;
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  border-bottom: 0.5px solid #5555555c;
  background-color: #f2f2f2;
  padding-top: 2px;
}
.transaction-filter-container .button {
  border: 2px solid transparent;
  padding: 5px 20px 0px 20px;
  margin-bottom: 3px;
  background: none;
  cursor: pointer;
}
.transaction-filter-container .button:hover {
  scale: 1.2;
}
.button-active {
  border: 2px solid transparent;
  border-bottom: 2px solid #333;
  padding: 5px 20px 0px 20px;
  margin-bottom: 3px;
  background: none;
  cursor: pointer;
}
.down {
  position: absolute;
  bottom: 8px;
}
.up {
  position: absolute;
  top: 8px;
}
svg {
  pointer-events: none;
}
.transaction-info {
  margin: 0 auto;
  width: 500px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
}
.transaction-info-item {
  list-style-type: none;
  padding: 2px 6px;
  margin: 1px;
  color: #333;
  font-weight: bold;
  font-size: 0.7em;
}
.transaction-info-number {
  margin-left: 1px;
  padding: 1px 6px;
  border-radius: 25px;
  background: #daf7dc;
}
.transaction-info-categories {
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: 0.5px solid #5555555c;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
}
.transaction-info-category-item {
  list-style-type: none;
  padding: 1px 6px;
  margin: 1px;
  color: #333;
  font-weight: bold;
  font-size: 0.7em;
}

/* category filter buttons */
.category-filter-container {
  margin: 0 auto;
  width: 500px;
  z-index: 1;
  border-bottom: 0.5px solid #5555555c;
}
nav.category-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  background-color: #f2f2f2;
  padding: 3px 0;
}
.category-btn {
  border: 2px solid #daf7dc;
  border: 2px solid transparent;
  background: #daf7dc;
  padding: 3px 6px;
  margin: 2px;
  border-radius: 25px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.7em;
}
.active-btn {
  background: #daf7dc;
  color: #333;
  border: 2px solid #333;
  padding: 3px 6px;
  margin: 2px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.7em;
}

@media screen and (max-height: 750px), screen and (max-width: 1200px) {
  .sidebar h3 {
    font-size: 0.9em;
    margin: 5px;
  }
  .sidebar form {
    height: 340px;
    padding: 0 10px 0 10px;
  }
  .sidebar label {
    margin: 0;
    padding: 2px;
    font-size: 0.9em;
  }
  .sidebar input,
  .sidebar select {
    padding: 5px;
    font-size: 0.8em;
  }
  .sidebar input[type='color'] {
    height: 30px;
    padding-right: 30px;
  }
  .sidebar span {
    font-size: 0.8em;
  }
  .sidebar button {
    font-size: 0.75em;
    padding: 4px;
    margin-top: 10px;
  }
  .sidebar .brush {
    margin-top: 30px;
    margin-left: 202px;
  }

  .transactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
  }
  .transactions li {
    margin: 2px;
    padding: 0 20%;
  }
  .transactions .amount,
  .transactions .name {
    font-size: 0.7em;
    padding: 7px 20px;
    margin: 0;
  }
  .transactions .amount {
    margin: 0;
  }
  .transactions .name {
    width: 150px;
  }
  .transactions .date,
  .transactions .category {
    font-size: 0.7em;
  }
  .transactions .delete {
    padding: 7.25px 6px;
  }
  .transactions .edit {
    padding: 7.25px 6px;
    top: 0;
    right: 30px;
  }
  .transactions .clicked {
    padding: 7.25px 6px;
    top: 0;
    right: 60px;
  }
  .category-btn {
    font-size: 0.6em;
    padding: 1px 0;
  }
  .transaction-info-item,
  .transaction-info-number {
    font-size: 0.8em;
  }
  .transaction-info-categories {
    justify-content: center;
    font-size: 0.8em;
  }
  .transactions .edit-li {
    margin: 2px;
    padding: 10px;
  }
  .transactions .edit-name,
  .transactions .edit-amount {
    font-size: 0.8em;
    padding: 2px;
    width: 150px;
  }
  .transactions .edit-color {
    height: 20px;
    width: 20px;
    margin: 15px 5px 15px 0;
  }
  .transactions .cancel-button {
    padding: 5px;
  }
  .transactions .edit-button {
    padding: 5px;
    top: 32px;
  }
}
@media screen and (max-height: 700px) {
  .toggle {
    margin-top: 90px;
    padding: 10px;
  }
  .sidebar h3 {
    font-size: 0.6em;
    margin: 2px;
  }
  .sidebar form {
    height: 270px;
  }
  .sidebar label {
    padding: 1px;
    font-size: 0.75em;
  }
  .sidebar input,
  .sidebar select {
    padding: 3px;
    font-size: 0.75em;
  }
  .sidebar span {
    font-size: 0.75em;
  }
  .sidebar button {
    font-size: 0.6em;
    padding: 2px;
    margin-top: 10px;
  }
  .sidebar .brush {
    margin-top: 24px;
    margin-left: 208px;
    cursor: pointer;
  }
}
@media screen and (max-height: 600px) {
  .sidebar h3 {
    display: none;
  }
  .sidebar form {
    height: 260px;
  }
  .sidebar input[type='color'] {
    height: 25px;
    padding-right: 30px;
  }
  .sidebar .brush {
    margin-top: 22px;
    margin-left: 208px;
    cursor: pointer;
  }
}
@media screen and (max-width: 400px) {
  .transactions,
  .transaction-filter-container,
  .transaction-info,
  .transaction-info-categories,
  .category-filter-container {
    max-width: 320px;
  }
  .transaction-info-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
    padding: 2px;
    margin: 0;
  }
  .transaction-filter-container .button {
    padding: 5px 15px 0 15px;
  }
  .transaction-filter-container .button-active {
    padding: 5px 15px 0px 15px;
  }
  .transactions .date,
  .transactions .category {
    font-size: 0.5em;
  }
  .transactions li {
    justify-content: flex-start;
    padding: 2px 70px 2px 0;
  }
  .transactions .name {
    width: 125px;
  }
  .transactions .name,
  .transactions .amount {
    font-size: 0.6em;
    padding: 8px 10px;
  }
  .transactions .delete,
  .transactions .edit,
  .transactions .clicked {
    padding: 9px 3px;
  }
  .transactions .edit {
    right: 24px;
  }
  .transactions .clicked {
    right: 48px;
  }
}
