.login-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 60px auto;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.logo {
  width: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.login-form-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
  border: none;
  padding: 5px 1px;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  background-color: rgba(228, 227, 227, 0.643);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.login-form label {
  display: block;
  margin: 30px auto 10px auto;
}
.login-form-span {
  display: block;
  margin-bottom: 6px;
}
.login-form input {
  padding: 8px 6px;
  border-radius: 25px;
  border: 1px solid transparent;
  font-size: 1em;
  width: 100%;
}
.login-form input:focus,
.login-form textarea:focus {
  border: 1px solid #daf7dc;
  border-radius: 25px;
  box-shadow: 0 0 3px #daf7dc;
  -moz-box-shadow: 0 0 3px #daf7dc;
  -webkit-box-shadow: 0 0 3px #daf7dc;
}

input:focus,
textarea:focus,
select:focus {
  outline-offset: 0px;
  outline: none;
}
.login-form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 10px 0 10px;
}
.login-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  margin: 25px 0;
  border-radius: 25px;
  cursor: pointer;
  background: none;
  border: 2px solid #fff;
  color: #333;
  font-weight: bold;
  font-size: 1em;
}
.login-form-button:hover {
  background: #daf7dc;
  scale: 1.1;
}
.login-form-button-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 25px 0;
  border-radius: 25px;
  cursor: pointer;
  background: none;
  border: 2px solid #fff;
  color: #333;
  font-weight: bold;
  font-size: 1em;
}
.login-form-button-login:hover {
  background: #daf7dc;
  scale: 1.1;
}
.login-form-p {
  position: relative;
  bottom: 0px;
  color: #cc3333;
  font-size: 0.65em;
  text-align: center;
}
.password {
  width: 111%;
}
.toggle-password {
  border: none;
  border-radius: 50%;
  position: relative;
  right: 43px;
  top: 2px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.signup-p {
  text-align: center;
  font-size: 0.75em;
  padding-bottom: 15px;
}
.signup-link a {
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  color: #333;
}
