.form-container {
  height: calc(100vh - 288px);
}
.login-form {
  display: flex;
  flex-direction: column;
  max-width: 22em;
  margin: 60px auto;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.logo {
  width: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.login-form-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
  border: none;
  padding: 5px 1px;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  background-color: rgba(228, 227, 227, 0.643);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.login-form-h3 {
  font-size: 23px;
  text-align: center;
  padding: 5px;
}
.login-form-p {
  text-align: center;
  font-size: 0.8em;
  padding: 1px;
}
.login-form input {
  padding: 10px 8px;
  border-radius: 25px;
  border: 1px solid transparent;
  font-size: 1em;
  max-width: 450px;
  width: 250px;
}
.login-form input:focus,
.login-form textarea:focus {
  border: 1px solid #daf7dc;
  border-radius: 25px;
  box-shadow: 0 0 3px #daf7dc;
  -moz-box-shadow: 0 0 3px #daf7dc;
  -webkit-box-shadow: 0 0 3px #daf7dc;
}
input:focus,
textarea:focus,
select:focus {
  outline-offset: 0px;
  outline: none;
}
.login-form-div {
  display: block;
  margin: 0 0 0 60px;
  padding: 10px 10px 0 10px;
}
.login-form-button-login {
  display: block;
  width: 268px;
  padding: 10px 20px;
  margin: 10px auto 0px auto;
  border-radius: 25px;
  cursor: pointer;
  background: #effaf0;
  border: 1px solid #1f8a58;
  color: #333;
  font-weight: 600;
  font-size: 0.9em;
}
.login-form-button-login:hover {
  background: #4cc49a;
}
.login-option-p {
  font-size: 0.75em;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #333;
  line-height: 0.1em;
  margin: 10px 0 10px;
}
.login-option-span {
  background: #f8f8f8;
  padding: 0 3px;
}
.login-form-button-social-container {
  display: flex;
  justify-content: center;
}
.login-form-button-social {
  display: block;
  width: 137px;
  padding: 7px 20px;
  margin: 10px 1px;
  border-radius: 25px;
  cursor: pointer;
  background: #effaf0;
  border: 1px solid #1f8a58;
  color: #333;
  font-weight: 600;
  font-size: 0.9em;
}
.login-form-button-social:hover {
  background: #4cc49a;
}
.login-form-button-guest {
  display: block;
  width: 268px;
  padding: 7px 20px;
  margin: 10px auto;
  border-radius: 25px;
  cursor: pointer;
  background: #effaf0;
  border: 1px solid #1f8a58;
  color: #333;
  font-weight: 600;
  font-size: 0.9em;
}
.login-form-button-guest:hover {
  background: #4cc49a;
}
.login-form-loading {
  cursor: wait;
  background: #effaf0;
  border: 1px solid #4cc49a;
  color: #333;
  font-weight: 600;
  font-size: 1em;
  width: 268px;
  padding: 7px 20px;
  margin: 10px auto;
  border-radius: 25px;
}
.icon {
  position: relative;
  top: 4px;
}
.login-form-error {
  position: relative;
  bottom: 0px;
  color: #cc3333;
  font-size: 0.65em;
  text-align: center;
}
.toggle-password {
  border: none;
  border-radius: 50%;
  position: relative;
  right: 38px;
  top: 4px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.signup-p {
  text-align: center;
  font-size: 0.75em;
  margin-top: 5px;
  padding: 15px;
  background: rgba(228, 227, 227, 0.643);
  border-radius: 0 0 25px 25px;
}
.signup-link a {
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  color: #1f8a58;
}

@media screen and (max-height: 900px) {
  .logo {
    width: 35px;
  }
  .login-form-h2 {
    font-size: 1em;
  }
  .login-form {
    margin: 10px auto;
  }
  .login-form-h2 {
    margin-bottom: 10px;
  }
  .login-form-h3 {
    display: none;
  }
  .login-form input {
    font-size: 0.8em;
  }
  .login-form-button-login {
    font-size: 0.8em;
    padding: 4px 20px;
  }
  .login-form-button-social {
    font-size: 0.8em;
    padding: 0 10px 2px 10px;
  }
  .login-form-button-guest {
    font-size: 0.8em;
    margin: 0 auto 5px auto;
    padding: 0 10px 2px 10px;
  }
  .signup-p {
    margin-top: 2px;
    padding: 5px;
  }
}
