.login-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}
.login-form label {
  display: block;
  margin: 30px auto;
}
.login-form span {
  display: block;
  margin-bottom: 6px;
}
.login-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
}
.login-form input:focus,
.login-form textarea:focus {
  border: 1px solid #daf7dc;
  box-shadow: 0 0 3px #daf7dc;
  -moz-box-shadow: 0 0 3px #daf7dc;
  -webkit-box-shadow: 0 0 3px #daf7dc;
}

input:focus,
textarea:focus,
select:focus {
  outline-offset: 0px;
  outline: none;
}
.login-form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-form button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  margin-top: 20px;
}
.login-form p {
  position: relative;
  bottom: 25px;
  color: #cc3333;
  font-size: 0.65em;
  text-align: center;
}
.password {
  width: 111%;
}
.toggle-password {
  position: relative;
  right: 30px;
  top: 8px;
}
