.form-container {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 22em;
  margin: 60px auto;
  border-radius: 25px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.logo {
  width: 40px;
  border-radius: 50%;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.login-form-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  padding: 5px 1px;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  background-color: rgba(228, 227, 227, 0.643);
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.login-form-h3 {
  font-size: 23px;
  text-align: center;
  padding: 5px;
}
.login-form-p {
  text-align: center;
  font-size: 0.8em;
  padding: 1px;
}
.login-form input {
  padding: 6px 4px;
  border-radius: 25px;
  border: 1px solid transparent;
  font-size: 1em;
  max-width: 450px;
  width: 215px;
  text-align: center;
}
.login-form input:focus,
.login-form textarea:focus {
  border: 1px solid #daf7dc;
  border-radius: 25px;
  box-shadow: 0 0 3px #daf7dc;
  -moz-box-shadow: 0 0 3px #daf7dc;
  -webkit-box-shadow: 0 0 3px #daf7dc;
}
input:focus,
textarea:focus,
select:focus {
  outline-offset: 0px;
  outline: none;
}
.div-container {
  width: 75%;
  margin-left: 19%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.login-form-div {
  padding: 10px 10px 0 10px;
}
.login-form-button-login,
.login-form-button-guest,
.login-form-button-login-loading,
.login-form-button-guest-loading {
  display: block;
  width: 220px;
  padding: 6px 20px;
  margin: 10px auto 0px auto;
  border-radius: 25px;
  cursor: pointer;
  background: #effaf0;
  border: 1px solid #1f8a58;
  color: #333;
  font-weight: 600;
  font-size: 0.9em;
}
.login-form-button-login:hover,
.login-form-button-guest:hover {
  background: #4cc49a;
}
.login-form-button-login-loading,
.login-form-button-guest-loading {
  cursor: pointer;
}
.login-form-button-login:hover,
.login-form-button-guest:hover {
  background: #4cc49a;
}
.login-form-button-guest {
  margin-bottom: 5px;
}
.login-option-p {
  font-size: 0.75em;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #333;
  line-height: 0.1em;
  margin: 10px 0 10px;
}
.login-option-span {
  background: #f8f8f8;
  padding: 0 3px;
}
.login-form-button-social-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.login-form-button-social-container img {
  width: 185px;
}
.login-form-button-social,
.login-form-button-social-loading {
  padding: 0px;
  margin: 8px 1px;
  cursor: pointer;
  background: none;
  border: none;
}
.login-form-button-social-loading {
  cursor: not-allowed;
}
.icon {
  position: relative;
  top: 4px;
}
.login-form-error {
  position: relative;
  left: 15px;
  bottom: -4px;
  color: #cc3333;
  font-size: 0.65em;
}
.toggle-password {
  border: none;
  border-radius: 50%;
  position: relative;
  right: 38px;
  top: 4px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.signup-p {
  text-align: center;
  font-size: 0.75em;
  margin-top: 5px;
  padding: 15px;
  background: rgba(228, 227, 227, 0.643);
  border-radius: 0 0 25px 25px;
}
.signup-link a {
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  color: #1f8a58;
}

@media screen and (max-height: 900px) {
  .logo {
    width: 35px;
  }
  .login-form-h2 {
    font-size: 1em;
    margin-bottom: 10px;
  }
  .login-form {
    margin: 10px auto;
  }
  .login-form-h3 {
    display: none;
  }
  .login-form input {
    font-size: 0.8em;
  }
  .login-form-button-login,
  .login-form-button-guest,
  .login-form-button-login-loading,
  .login-form-button-guest-loading {
    font-size: 0.8em;
    padding: 4px 20px;
  }
  .login-form-button-guest,
  .login-form-button-guest-loading {
    margin: 0 auto 5px auto;
  }
  .login-form-button-social,
  .login-form-button-social-loading {
    margin-bottom: 0px;
  }
  .signup-p {
    margin-top: 2px;
    padding: 5px;
  }
}
@media screen and (max-width: 400px) {
  .login-form {
    width: 250px;
    min-width: 250px;
  }
  .login-form h2 {
    font-size: 0.7;
  }
  .logo {
    width: 28px;
  }
  .div-container {
    width: 75%;
    margin-left: 22%;
  }
  .login-form input {
    font-size: 0.6em;
    padding: 4px 4px 0px 15px;
    width: 120px;
  }
  .login-form-div {
    padding: 0;
  }
  .login-form-button-login,
  .login-form-button-guest,
  .login-form-button-login-loading,
  .login-form-button-guest-loading {
    width: 130px;
    font-size: 0.6em;
    padding: 4px 20px;
  }
  .login-form-button-login-loading,
  .login-form-button-guest-loading {
    cursor: not-allowed;
  }
  .login-form-button-social,
  .login-form-button-social-loading {
    width: 120px;
    padding: 0px;
    margin-bottom: 0px;
  }
  .login-form-button-social-loading {
    cursor: disabled;
  }
  .login-form-button-social-container img {
    width: 115px;
  }
  .toggle-password {
    top: 5px;
    right: 30px;
  }
}
