.container {
  width: 100%;
  /* height: 100vh; */
  height: calc(100vh - 228px);
}
.logo {
  position: relative;
  top: 8px;
  width: 60px;
  border-radius: 50%;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
