.stocks-home-container {
  max-height: 90vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 100px;
  padding: 100px 0;
}
.container {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 700px;
  max-width: 500px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.heading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  background: #effaf0;
  border: none;
  padding: 5px 1px;
  border-radius: 25px;
  font-size: 0.8em;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.search {
  margin: 50px 50px 25px 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 2px solid grey;
  border-radius: 25px;
}
.search:focus-within {
  outline: 1px solid #effaf0;
}
.input {
  border: none;
  border-radius: 25px;
  font-size: 0.9em;
  padding: 14px 20px;
}

.input:focus {
  outline: none;
}
.btn {
  background: #effaf0;
  font-size: 0.9em;
  border: none;
  padding: 14px 20px;
  border-radius: 25px;
  cursor: pointer;
}
.btn:hover {
  background-color: #daf7dc;
}
.title {
  font-size: 25px;
  font-weight: 600;
  background-color: rgba(228, 227, 227, 0.643);
  padding: 5px 20px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.toggle-watchlist-btn {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;
  padding: 5px 5px;
  border-radius: 50%;
  border: none;
  background: #effaf0;
  cursor: pointer;
}
.toggle-watchlist-btn:hover {
  background-color: #daf7dc;
}

.title-and-prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 25px 25px;
}
.stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  background-color: rgba(228, 227, 227, 0.643);
  border-radius: 25px;
  max-width: fit-content;
  padding: 5px 10px 5px 15px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  margin-top: 75px;
}
.prices {
  margin: 25px 0 15px 0;
  font-size: 15px;
  font-weight: 500;
  padding: 25px 100px;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}
.high-price {
  background: rgba(228, 227, 227, 0.643);
  border-radius: 25px;
  margin-right: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.low-price {
  background: rgba(228, 227, 227, 0.643);
  border-radius: 25px;
  margin-left: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.change-in-price-loss {
  background-color: #ff69614b;
  border-radius: 25px;
  margin: 0 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.change-in-price-gain {
  background-color: #effaf0;
  border-radius: 25px;
  margin: 0 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.current-price {
  font-size: 25px;
  font-weight: bold;
}
.percent-change {
  font-size: 25px;
  font-weight: bold;
}
.percent-is-gain {
  background-color: #effaf0;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border-radius: 25px;
  margin: 15px;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.percent-is-loss {
  background-color: #ff69614b;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border-radius: 25px;
  margin: 15px;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.search-results {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-height: 100px;
  max-width: 500px;
  margin: 25px;
}
.search-results button {
  text-align: center;
  background: #effaf0;
  font-size: 0.9em;
  border: none;
  padding: 14px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin: 20px;
}
.search-results button:hover {
  color: #000;
  background: #daf7dc;
}
.arrow-loss {
  margin-right: 5px;
  color: red;
}
.arrow-gain {
  margin-right: 5px;
  color: #1f9751;
}
/* StockWatchList Form */
.watchlist-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.watchlist-form {
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
  max-width: 750px;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.watchlist-form-input {
  border: 2px solid grey;
  border-radius: 25px;
  font-size: 0.9em;
  padding: 8px 10px;
  margin: 0 5px;
}
.watchlist-form-btn {
  background: #effaf0;
  font-size: 0.9em;
  border: none;
  padding: 14px 20px;
  border-radius: 25px;
  cursor: pointer;
}
.watchlist-form-btn:hover {
  background-color: #daf7dc;
}
/* Stock WatchList */
.stock-watchlist-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 500px;
  width: 400px;
  padding-bottom: 10px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.stocks-watchlist-heading {
  font-size: 25px;
  font-weight: 600;
  width: 90%;
  text-align: center;
  background-color: rgba(228, 227, 227, 0.643);
  padding: 4px 20px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.stocks-watchlist-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #daf7dc;
  border-radius: 10px;
  width: 90%;
  margin-top: 8px;
  padding: 5px 15px;
}
.stocks-watchlist-symbol {
  background: rgba(228, 227, 227, 0.643);
  font-weight: bold;
  border-radius: 25px;
  border: none;
  padding: 4px 10px;
}
.stocks-watchlist-symbol:hover {
  background: rgba(207, 205, 205, 0.643);
  cursor: pointer;
  scale: 1.1;
}
.stocks-watchlist-name {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
}
.stock-watchlist-button-container {
  width: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.stock-watchlist-menu {
  background: rgba(228, 227, 227, 0.643);
  padding: 3px 1px 2px 1px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.stock-watchlist-menu:hover {
  background: rgba(207, 205, 205, 0.643);
  cursor: pointer;
  scale: 1.1;
}
.stock-watchlist-delete {
  background: #f75d55a7;
  padding: 2px 1px 1px 1px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 3px;
}
.stock-watchlist-delete:hover {
  background: #e7564fa7;
  cursor: pointer;
  scale: 1.1;
}
.stock-watchlist-edit-form {
  display: flex;
  align-items: center;
}
.stock-watchlist-edit-symbol {
  border: none;
  text-align: center;
  border-radius: 25px;
  width: 40px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.7em;
  margin-right: 5px;
}
.stock-watchlist-edit-name {
  border: none;
  text-align: center;
  border-radius: 25px;
  width: 175px;
  padding: 5px 8px;
  margin: 5px;
  font-weight: bold;
  font-size: 0.9em;
}
.stock-watchlist-edit-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stock-watchlist-edit-submit {
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background: none;
}
.stock-watchlist-edit-submit:hover {
  cursor: pointer;
  scale: 1.3;
}
.stock-watchlist-edit-cancel {
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
}
.stock-watchlist-edit-cancel:hover {
  cursor: pointer;
  scale: 1.3;
}
