.stocks-home-container {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  max-width: 100vw;
}
.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto 20px auto;
  width: 120px;
  border: none;
  padding: 10px 8px;
  border-radius: 25px;
  background: rgba(207, 205, 205, 0.643);
  cursor: pointer;
  --webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.line {
  font-size: 20px;
  font-weight: 400;
  margin: 0 4px;
  color: rgba(207, 205, 205, 1);
}
.toggle-search,
.toggle-search-active,
.toggle-list,
.toggle-list-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  border-radius: 25px;
}
.toggle-search-active,
.toggle-list-active {
  background: #4cc49a;
  --webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.toggle:hover {
  scale: 1.1;
}
.stocks-components-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding: 50px 0 0 0; */
}
.container {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  max-height: 700px;
  max-width: 500px;
  border-radius: 25px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.heading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  background: #effaf0;
  border: none;
  padding: 5px 1px;
  border-radius: 25px;
  font-size: 0.8em;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.error {
  padding-bottom: 10px;
  font-weight: 600;
  color: red;
  font-size: 0.8em;
}
.search {
  margin: 50px 50px 25px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(228, 227, 227, 0.7);
  border-radius: 25px;
}
.input {
  border: none;
  border-radius: 25px 0 0 25px;
  font-size: 0.8em;
  color: #000;
  font-weight: 600;
  padding: 14px 20px;
  background-color: rgba(228, 227, 227, 0.03);
}
.input::placeholder {
  color: #000;
}

.input:focus {
  outline: none;
}
.btn {
  border: none;
  padding: 14px 20px;
  border-radius: 23px;
  font-weight: 600;
  font-size: 0.9em;
  background: #4cc49a;
  cursor: pointer;
}
.btn:hover {
  scale: 1.1;
}
.logo {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  background-color: rgba(228, 227, 227, 0.643);
  padding: 5px 20px;
  border-radius: 25px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.toggle-watchlist-btn,
.toggle-watchlist-btn-added {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;
  padding: 5px 5px;
  border-radius: 50%;
  border: none;
  background: #effaf0;
  cursor: pointer;
  border: 1px solid #1f8a58;
  border: none;
  background: #4cc49a;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.toggle-watchlist-btn-added {
  cursor: auto;
}
.toggle-watchlist-btn:hover {
  scale: 1.1;
}

.title-and-prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 25px 25px;
}
.stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  background-color: rgba(228, 227, 227, 0.643);
  border-radius: 25px;
  max-width: fit-content;
  padding: 5px 10px 5px 15px;
  margin-top: 75px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.prices {
  margin: 25px 0 15px 0;
  font-size: 15px;
  font-weight: 500;
  padding: 25px 100px;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}
.high-price {
  background: rgba(228, 227, 227, 0.643);
  border-radius: 25px;
  margin-right: 10px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.low-price {
  background: rgba(228, 227, 227, 0.643);
  border-radius: 25px;
  margin-left: 10px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.change-in-price-loss {
  background-color: #ff69614b;
  border-radius: 25px;
  margin: 0 10px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.change-in-price-gain {
  background-color: #effaf0;
  border-radius: 25px;
  margin: 0 10px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.current-price {
  font-size: 25px;
  font-weight: bold;
}
.percent-change {
  font-size: 25px;
  font-weight: bold;
}
.percent-is-gain {
  background-color: #effaf0;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border-radius: 25px;
  margin: 15px;
  padding: 10px 20px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.percent-is-loss {
  background-color: #ff69614b;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border-radius: 25px;
  margin: 15px;
  padding: 10px 20px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.search-results {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-height: 100px;
  max-width: 500px;
  margin: 25px;
}
.search-results button {
  text-align: center;
  background: #effaf0;
  font-size: 0.9em;
  border: none;
  padding: 14px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin: 20px;
}
.search-results button:hover {
  color: #000;
  background: #daf7dc;
}
.arrow-loss {
  margin-right: 5px;
  color: red;
}
.arrow-gain {
  margin-right: 5px;
  color: #1f9751;
}
/* StockWatchList Form */
.watchlist-form-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watchlist-form {
  background-color: none;
  box-sizing: border-box;
  text-align: center;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 25px;
}
.watchlist-form-input {
  border: 2px solid grey;
  border-radius: 25px;
  font-size: 0.8em;
  padding: 4px 0px;
  width: 120px;
  text-align: center;
  margin: 0 5px;
}
.watchlist-form-btn {
  cursor: pointer;
  margin-left: 3px;
  border: none;
  padding: 10px 12px;
  border-radius: 25px;
  font-weight: 600;
  background: #4cc49a;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.watchlist-form-btn:hover {
  scale: 1.1;
}
/* Stock WatchList */
.flex {
  display: flex;
  width: 100vw;
  justify-content: center;
}
.no-watchlist {
  background: rgba(228, 227, 227, 0.643);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 330px;
  height: 250px;
  border: none;
  border-radius: 25px;
  text-align: center;
  --webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.no-watchlist h1 {
  font-size: 1.4em;
}
.no-watchlist p {
  font-size: 0.9em;
}
.oops {
  position: relative;
  top: 12px;
  padding: 0 5px 0 5px;
}
.magnifying {
  position: relative;
  top: 1px;
  left: 1px;
}
.img {
  position: relative;
  top: 7px;
  width: 25px;
  border-radius: 50%;
}
.stock-watchlist-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  max-width: 600px;
  width: 500px;
  padding-bottom: 10px;
  border-radius: 25px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.stocks-watchlist-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 227, 227, 0.643);
  border-radius: 25px;
  padding: 4px 0px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.stock-watchlist-heading-title {
  padding: 4px 0px;
  width: 90%;
  font-size: 25px;
  font-weight: 600;
  background: none;
  border: none;
  border-radius: 25px;
  text-align: center;
  padding-left: 45px;
  cursor: text;
}
.watchlist-heading-btn {
  display: flex;
  align-items: center;
  margin: 0 17px 0 10px;
  padding: 5px 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: #4cc49a;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.watchlist-heading-btn:hover {
  scale: 1.1;
}

.stocks-watchlist-item-green {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #daf7dc;
  border-radius: 25px;
  width: 90%;
  margin-top: 8px;
  padding: 5px 15px;
}
.stocks-watchlist-item-red {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff69614b;
  border-radius: 25px;
  width: 90%;
  margin-top: 8px;
  padding: 5px 15px;
}
.stocks-watchlist-item-grey {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(228, 227, 227, 0.643);
  border-radius: 25px;
  width: 90%;
  margin-top: 8px;
  padding: 5px 15px;
}
.stocks-watchlist-symbol {
  background: rgba(228, 227, 227, 0.643);
  font-weight: bold;
  border-radius: 25px;
  border: none;
  padding: 4px 10px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.stocks-watchlist-symbol:hover {
  background: rgba(207, 205, 205, 0.643);
  cursor: pointer;
  scale: 1.1;
}
.stock-watchlist-name-data {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  border-radius: 10px;
  align-items: center;
  width: 300px;
}
.stocks-watchlist-name {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 0.9em;
}
.stocks-watchlist-name-span {
  background: rgba(228, 227, 227, 0.643);
  border-radius: 10px;
  padding: 4px 10px;
  cursor: text;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.stock-watchlist-data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3px;
  padding: 1px 0;
  width: 130px;
  cursor: default;
}
.stocks-watchlist-price {
  background: rgba(228, 227, 227, 0.643);
  font-weight: bold;
  font-size: 0.9em;
  border-radius: 10px;
  padding: 4px 6px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.stock-watchlist-green-arrow {
  color: green;
  font-size: 0.8em;
  padding: 0 2px 1px 0;
}
.stock-watchlist-red-arrow {
  color: red;
  font-size: 0.9em;
  padding: 0 2px 1px 0;
}
.stocks-watchlist-percent {
  background: rgba(228, 227, 227, 0.643);
  margin: 1px;
  font-size: 0.9em;
  border-radius: 10px;
  padding: 4px 6px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.stock-watchlist-button-container {
  width: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.stock-watchlist-menu {
  background: rgba(228, 227, 227, 0.643);
  padding: 3px 1px 2px 1px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.stock-watchlist-menu:hover {
  background: rgba(207, 205, 205, 0.643);
  cursor: pointer;
  scale: 1.1;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.stock-watchlist-delete {
  background: #f75d55a7;
  padding: 2px 1px 1px 1px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 3px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.stock-watchlist-delete:hover {
  background: #e7564fa7;
  cursor: pointer;
  scale: 1.1;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.stock-watchlist-edit-title-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.stock-watchlist-edit-title {
  border: none;
  text-align: center;
  border-radius: 25px;
  font-weight: 600;
  font-size: 25px;
  width: 350px;
  padding: 5px 8px;
  margin: 2px;
}
.stock-watchlist-edit-form {
  display: flex;
  align-items: center;
}
.stock-watchlist-edit-symbol {
  border: none;
  text-align: center;
  border-radius: 25px;
  width: 50px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.9em;
  margin-right: 2px;
}
.stock-watchlist-edit-name {
  border: none;
  text-align: center;
  border-radius: 25px;
  width: 150px;
  padding: 5px 8px;
  margin: 2px;
  font-weight: bold;
  font-size: 0.9em;
}
.stock-watchlist-edit-exchange {
  border: none;
  text-align: center;
  border-radius: 25px;
  width: 100px;
  padding: 5px 8px;
  margin: 2px;
  font-weight: bold;
  font-size: 0.9em;
}
.stock-watchlist-edit-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stock-watchlist-edit-submit {
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background: none;
}
.stock-watchlist-edit-submit:hover {
  cursor: pointer;
  scale: 1.3;
}
.stock-watchlist-edit-cancel {
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
}
.stock-watchlist-edit-cancel:hover {
  cursor: pointer;
  scale: 1.3;
}
@media screen and (max-width: 550px), screen and (max-height: 850px) {
  .stock {
    font-size: 1em;
    margin-top: 50px;
    padding: 3px;
  }
  .container {
    height: fit-content;
    max-height: 500px;
  }
  .prices {
    margin: 40px 5px 20px 5px;
    padding: 0px;
    font-size: 0.8em;
    justify-content: center;
    column-gap: 5px;
  }
  .change-in-price-gain,
  .change-in-price-loss,
  .high-price,
  .low-price {
    margin: 2px;
    padding: 6px 8px;
  }
  .percent-is-gain,
  .percent-is-loss {
    flex-direction: row;
    padding: 8px 12px;
    margin-bottom: 10px;
  }
  .current-price {
    font-size: 0.8em;
  }
  .arrow-gain,
  .arrow-loss {
    font-size: 0.8em;
    margin: 0 2px;
  }
  .percent-change {
    font-size: 0.8em;
  }
  .stock-watchlist-container {
    width: 400px;
  }
  .stock-watchlist-name-data {
    justify-content: flex-start;
    width: fit-content;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0;
    column-gap: 1px;
  }
  .stocks-watchlist-symbol,
  .stocks-watchlist-price {
    font-weight: 500;
  }
  .stock-watchlist-data-container {
    justify-content: flex-start;
  }
  .stock-watchlist-edit-title {
    width: 200px;
  }
  .stock-watchlist-edit-form {
    width: 200px;
  }
  .stock-watchlist-edit-name,
  .stock-watchlist-edit-symbol,
  .stock-watchlist-edit-exchange {
    font-size: 0.75em;
    font-weight: 500;
    padding: 5px 2px;
  }
  .stock-watchlist-edit-symbol {
    width: 40px;
  }
  .stock-watchlist-edit-name {
    width: 125px;
  }
  .stock-watchlist-edit-exchange {
    width: 90px;
  }
  .watchlist-form {
    max-width: 380px;
    font-size: 0.8em;
    align-items: center;
  }
  .watchlist-form-input {
    width: 100px;
    padding: 4px 0;
    margin: 0 2px;
  }
  .watchlist-form-btn {
    font-size: 0.8em;
    padding: 4px 8px;
  }
}
@media screen and (max-width: 400px), screen and (max-height: 700px) {
  .stock-watchlist-container {
    overflow: auto;
    max-width: 330px;
  }
  .watchlist-form-input {
    font-size: 0.6em;
    padding: 2px;
    margin: 0;
  }
  .stock-watchlist-edit-submit,
  .stock-watchlist-edit-cancel {
    font-size: 0.6em;
  }
  .stock-watchlist-edit-name,
  .stock-watchlist-edit-symbol,
  .stock-watchlist-edit-exchange {
    font-size: 0.6em;
  }
  .stock-watchlist-edit-symbol {
    width: 35px;
  }
  .stock-watchlist-edit-name {
    width: 110px;
  }
  .stock-watchlist-edit-exchange {
    width: 70px;
  }

  .stock,
  .prices,
  .percent-is-gain,
  .percent-is-loss {
    margin: 5px;
  }
  .btn {
    font-size: 0.6em;
    padding: 6px;
  }
  .input {
    font-size: 0.8em;
    padding: 8px 10px;
    width: 150px;
  }
  .search {
    margin: 6px 5px;
  }
  .toggle {
    margin-top: 90px;
    padding: 10px;
  }
  .title,
  .stock-watchlist-heading-title,
  .stock-watchlist-edit-title {
    font-size: 1em;
    padding: 2px;
  }
  .watchlist-heading-btn,
  .toggle-watchlist-btn {
    width: 25px;
    height: 25px;
  }
  .stocks-watchlist-symbol {
    font-size: 0.6em;
  }
  .stock-watchlist-menu,
  .stock-watchlist-delete {
    font-size: 0.6em;
    padding: 3px 0px 0px 0px;
  }
  .stocks-watchlist-name-span,
  .stocks-watchlist-symbol,
  .stocks-watchlist-percent,
  .stocks-watchlist-price {
    padding: 3px;
  }
  .stocks-watchlist-item-green,
  .stocks-watchlist-item-grey,
  .stocks-watchlist-item-red {
    margin: 3px;
    padding: 2px 15px;
    font-size: 0.9em;
  }
  .watchlist-form {
    max-width: 330px;
    font-size: 0.6em;
    align-items: center;
  }
  .watchlist-form-input {
    width: 90px;
    padding: 2px 0;
    margin: 0 1px;
  }
  .watchlist-form-btn {
    font-size: 0.6em;
    padding: 4px 8px;
  }
}
