.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 960px;
  margin: 60px auto;
}
.content {
  padding-right: 30px;
}
.sidebar {
  padding-left: 30px;
}
.sidebar form {
  padding: 30px;
  background: #1f9751;
  border-radius: 25px;
}
.sidebar input,
.sidebar select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  color: #555;
  font-size: 1em;
}
.sidebar label {
  margin: 0 auto 20px;
  display: block;
  color: #fff;
}
.sidebar button {
  color: #fff;
  border: 2px solid #fff;
  padding: 6px 12px;
  background-color: transparent;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 100%;
}
.sidebar h3 {
  color: #1f9751;
  margin-bottom: 20px;
  text-align: center;
}
.sidebar aside {
  margin-top: 40px;
  color: #555;
}
.sidebar aside li {
  margin: 10px;
}

/* transactions */
.transactions li {
  margin: 30px auto;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-left: 4px solid #1f9751;
}

.transactions .date {
  position: absolute;
  top: 0px;
  left: 5px;
  color: #777;
  font-size: 0.8em;
}
.transactions .name {
  color: #777;
  font-size: 1.7em;
  font-weight: bold;
}
.transactions .amount {
  margin-left: auto;
  margin-right: 40px;
  color: #777;
  font-weight: bold;
  font-size: 1.6em;
}
.transactions .category {
  color: #777;
  position: absolute;
  bottom: 0;
  left: 4px;
  font-size: 0.8em;
}
.transactions .delete {
  position: absolute;
  top: 0;
  right: 0;
  background: #ddd;
  color: #777;
  border: none;
  padding: 2.5px 4px;
  text-align: center;
  line-height: 0;
  font-size: 0.9em;
  cursor: pointer;
}
.transactions .clicked {
  position: absolute;
  top: 27.5px;
  right: 0;
  background: #ff6961;
  color: #777;
  border: none;
  padding: 2.5px 4px;
  text-align: center;
  line-height: 0;
  cursor: pointer;
}
.transactions .edit {
  position: absolute;
  top: 54.5px;
  right: 0;
  background: green;
  color: #777;
  border: none;
  padding: 3px 4px;
  text-align: center;
  line-height: 0;
  cursor: pointer;
}
button:hover {
  background: #1f9751;
  color: #fff;
}
