.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 960px;
  margin: 50px auto;
}
.content {
  padding-right: 30px;
}
.sidebar {
  padding-left: 30px;
}
.sidebar form {
  padding: 30px;
  background: #daf7dc;
  border-radius: 25px;
}
.sidebar input,
.sidebar select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  color: #555;
  font-size: 1em;
}
.sidebar label {
  margin: 0 auto 20px;
  display: block;
  color: #000;
}
.sidebar button {
  color: #000;
  border: 2px solid #fff;
  padding: 6px 12px;
  background-color: transparent;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 100%;
}
.sidebar h3 {
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}
.sidebar aside {
  margin-top: 40px;
  color: #555;
}
.sidebar aside li {
  margin: 10px;
}

/* color picker styling */
.sidebar input[type='color'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 265px;
  height: 45px;
  padding-right: 30px;
  background-color: field;
  border: none;
  cursor: pointer;
}
.sidebar input[type='color']::-webkit-color-swatch {
  border-radius: 10px;
  border: none;
}
.sidebar input[type='color']::-moz-color-swatch {
  border-radius: 10px;
  border: none;
}
.brush {
  position: absolute;
  top: 5px;
}

/* transactions */
.transactions li {
  background: #f2f2f2;
  margin: 30px auto;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.transactions .date {
  position: absolute;
  top: 0px;
  left: 5px;
  color: #777;
  font-size: 0.8em;
}
.transactions .name {
  color: #777;
  font-size: 1.7em;
  font-weight: bold;
}
.transactions .amount {
  margin-left: auto;
  margin-right: 40px;
  color: #777;
  font-weight: bold;
  font-size: 1.6em;
}
.transactions .category {
  color: #777;
  position: absolute;
  bottom: 0;
  left: 4px;
  font-size: 0.8em;
}
.transactions .delete {
  position: absolute;
  top: 0;
  right: 0;
  background: #ddd;
  color: #777;
  border: none;
  padding: 2.5px 4px;
  text-align: center;
  line-height: 0;
  font-size: 0.9em;
  cursor: pointer;
}
.transactions .clicked {
  position: absolute;
  top: 27.5px;
  right: 0;
  background: #ff69614b;
  color: #777;
  border: none;
  padding: 2.5px 4px;
  text-align: center;
  line-height: 0;
  cursor: pointer;
}
.transactions .edit {
  position: absolute;
  top: 54.5px;
  right: 0;
  background: #daf7dc;
  color: #777;
  border: none;
  padding: 3px 4px;
  text-align: center;
  line-height: 0;
  cursor: pointer;
}
nav.category-filter {
  border: 0 1px 1px 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  background-color: #f2f2f2;
  padding-bottom: 5px;
}
.category-btn {
  border: 2px solid #daf7dc;
  background: #daf7dc;
  padding: 3px 6px;
  margin: 2px;
  border-radius: 25px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.6em;
}
.active-btn {
  background: #daf7dc;
  color: #333;
  border: 2px solid #333;
  padding: 3px 6px;
  margin: 2px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.7em;
}
.category-btn:hover {
  background: #daf7dc;
  border: 2px solid #333;
  scale: 1.3;
}
.transaction-filter-container {
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  background-color: #f2f2f2;
}
.transaction-filter-container button {
  border: 2px solid transparent;
  padding: 5px 5px 2px 5px;
  margin: 0 5px 0 0;
  background: none;
  cursor: pointer;
}
.transaction-filter-container button:hover {
  border-bottom: 2px solid #333;
  scale: 1.25;
}
svg {
  pointer-events: none;
}
