.container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f8f8f5;
  border-radius: 25px;
  row-gap: 10px;
}
.header,
.header-logo {
  font-size: 2em;
  text-align: center;
  z-index: 2;
}
.header-logo {
  margin-bottom: 10px;
}
.logo {
  position: relative;
  top: 12px;
  width: 50px;
  border-radius: 50%;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.instructions {
  text-align: center;
  z-index: 2;
}
.button {
  border: 1px solid #1f8a58;
  padding: 4px 53.15px;
  border-radius: 25px;
  font-weight: 600;
  background: #4cc49a;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
  color: #333;
  text-decoration: none;
}
.card {
  background: #ebeaea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 135px;
  padding: 10px;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--webkit-box-shadow);
  border-radius: 25px;
  z-index: 1;
}
.card-heading {
  font-size: 1.1em;
}
.p {
  padding: 0 10px;
  font-size: 0.8em;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .container {
    justify-content: center;
    row-gap: 20px;
  }
  .card {
    height: 75px;
  }
  .p {
    display: none;
  }
}
@media screen and (max-width: 770px) {
  .header,
  .header-logo {
    font-size: 1.4em;
  }
  .instructions {
    font-size: 0.8em;
  }
  .logo {
    top: 10px;
    width: 38px;
  }
  .card {
    height: 75px;
    width: 300px;
  }
  .card-heading {
    font-size: 0.9em;
  }
}
@media screen and (max-height: 900px) {
  .header,
  .header-logo {
    font-size: 1.4em;
  }
  .instructions {
    font-size: 0.8em;
  }
  .logo {
    top: 10px;
    width: 40px;
  }
  .card {
    height: 75px;
    width: 300px;
  }
  .card-heading {
    font-size: 0.9em;
  }
  .p {
    display: none;
  }
  .button {
    margin-top: 5px;
    padding: 4px 10px;
  }
}
@media screen and (max-height: 600px) {
  .container {
    justify-content: center;
    margin: 40px 0;
  }
  .border {
    row-gap: 5px;
  }
  .header,
  .header-logo {
    font-size: 1.2em;
  }
  .instructions {
    display: none;
  }
  .logo {
    top: 8px;
    width: 30px;
  }
  .card {
    height: 75px;
    width: 250px;
  }
  .card-heading {
    font-size: 0.75em;
  }
  .p {
    display: none;
  }
  .button {
    font-size: 0.75em;
    margin-top: 5px;
    padding: 4px 10px;
  }
}
@media screen and (max-height: 500px) {
  .header,
  .header-logo {
    font-size: 1em;
    margin: 0;
  }
  .instructions {
    display: none;
  }
  .logo {
    top: 5px;
    width: 25px;
  }
  .card {
    height: 60px;
  }
  .card-heading {
    font-size: 0.7em;
  }
  .p {
    display: none;
  }
  .button {
    font-size: 0.7em;
    margin-top: 5px;
    padding: 2px 10px;
  }
}
