/* footer styles */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #effaf0;
  padding: 15px 0 15px 0;
  box-sizing: border-box;
  z-index: 2;
}
.container {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
  justify-content: space-between;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 80px;
}
.links-div {
  padding: 3px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-title {
  font-weight: 600;
  font-size: 0.8em;
  margin-top: 5px;
}
.motto {
  text-align: center;
  font-weight: 400;
  font-size: 0.75em;
  width: 400px;
}
.link {
  text-decoration: none;
  color: #333;
  font-size: 0.75em;
}
.link:hover {
  color: #1f8a58;
}
.stockup {
  font-weight: 600;
}
.logo {
  position: relative;
  top: 5px;
  width: 25px;
}
.break-line {
  display: block;
  bottom: 10px;
  margin-left: 25%;
  width: 50%;
  border-top: 1px solid #333;
  padding-bottom: 3px;
}
.copyright {
  margin-top: 2px;
  text-align: center;
  font-size: 0.75em;
  font-weight: 600;
}
.privacy {
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  color: #333;
}
.privacy:hover {
  color: #1f8a58;
}
.icon {
  position: relative;
  top: 4px;
}
@media screen and (max-width: 1200px) {
  .footer {
    padding: 10px 0 10px 0;
  }
  .container {
    flex-direction: column;
  }
  .footer-links {
    flex-direction: row;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media screen and (max-height: 900px) {
  .footer {
    padding: 5px 0 5px 0;
  }
  .container {
    justify-content: center;
  }
  .footer-links,
  .break-line,
  .copyright {
    display: none;
  }
}
@media screen and (max-width: 500px), screen and (max-height: 500px) {
  .container {
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  .motto {
    display: none;
  }
  .footer {
    padding: 10px 0 0 0;
  }
}
