/* navbar styles */
.navbar {
  width: 100%;
  background: #effaf0;
  padding: 20px 10px;
  box-sizing: border-box;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
  justify-content: space-between;
}
.navbar div {
  display: flex;
  align-items: center;
}
.stocks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 0.3px;
  font-size: 1.2em;
  border-bottom: 3px solid transparent;
}
.logo {
  width: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.logo-transactions {
  width: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.transactions {
  margin-right: auto;
  margin-top: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1em;
}
.transactions:hover {
  color: #1f8a58;
  scale: 1.1;
}
.navbar button,
.navbar a {
  margin-left: 25px;
}
.navbar a {
  color: #333;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.navbar a:hover {
  color: #1f8a58;
  scale: 1.1;
}

.logout {
  border: 3px solid transparent;
  background: none;
  padding: 6px 12px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

.logout:hover {
  color: #1f8a58;
  scale: 1.1;
}
