/* navbar styles */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #effaf0;
  padding: 20px 10px;
  box-sizing: border-box;
  z-index: 2;
}
.navbar a {
  color: #333;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.navbar a:hover {
  color: #1f8a58;
}
.navbar .ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
  justify-content: space-between;
}
.navbar .div {
  display: flex;
  align-items: center;
}
.leftnav {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.links {
  font-weight: 600;
}
.stocks {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 0.3px;
  font-size: 1.2em;
  border-bottom: 3px solid transparent;
}
.navbar .login {
  border: 1px solid #1f8a58;
  padding: 6px 48px;
  border-radius: 25px;
  font-weight: 600;
  background: #4cc49a;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.navbar .login:hover {
  scale: 1.1;
  color: #333;
}
.logo {
  width: 40px;
  border-radius: 50%;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.logo-transactions {
  width: 40px;
  border-radius: 50%;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.transactions {
  margin-right: auto;
  margin-left: 25px;
  margin-top: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1em;
}
.transactions:hover {
  color: #1f8a58;
}
.logout {
  font-family: Poppins, sans-serif;
  font-size: 1em;
  border: 1px solid #1f8a58;
  padding: 6px 46.57px;
  border-radius: 25px;
  font-weight: 600;
  background: #4cc49a;
  color: #333;
  cursor: pointer;
  margin-left: 25px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.logout:hover {
  scale: 1.1;
}
.menu {
  display: none;
  cursor: pointer;
  border-radius: 50%;
  background: none;
  border: none;
}

@media screen and (max-width: 1200px) {
  .navbar {
    padding: 10px 5px;
  }
  .navbar ul {
    width: 700px;
  }
  .navbar .username {
    display: none;
  }
  .navbar .login {
    font-size: 0.9em;
    padding: 6px 10px;
  }
  .logout {
    font-size: 0.9em;
    padding: 6px 10px;
  }
}
@media screen and (max-width: 700px) {
  .menu {
    display: block;
  }
  .navbar .logo {
    width: 30px;
  }
  .navbar li {
    font-size: 1em;
  }
  .transactions {
    font-size: 0.9em;
  }
  .navbar .links,
  a {
    font-size: 0.9em;
  }
  .leftnav {
    max-width: 300px;
    justify-content: space-between;
  }
  .navbar .ul {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .navbar .login {
    margin-left: 1em;
    font-size: 0.9em;
    padding: 4px 8px;
  }
  .logout {
    font-size: 0.9em;
    padding: 4px 8px;
  }
}
@media screen and (max-width: 400px) {
  .navbar {
    width: 100%;
  }
  .navbar .logo {
    width: 20px;
  }
  .navbar li {
    font-size: 0.8em;
  }
  .navbar .transactions {
    font-size: 0.8em;
  }
  .navbar .links {
    font-size: 0.8em;
  }
  .navbar ul {
    width: 300px;
  }

  .navbar .login {
    font-size: 0.8em;
    padding: 2px 6px;
  }
  .logout {
    font-size: 0.8em;
    padding: 2px 6px;
  }
}
