/* navbar styles */
.navbar {
  width: 100%;
  background: #effaf0;
  padding: 20px 10px;
  box-sizing: border-box;
}
.navbar a {
  color: #333;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.navbar a:hover {
  color: #1f8a58;
  scale: 1.1;
}
.navbar .ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
  justify-content: space-between;
}
.navbar .div {
  display: flex;
  align-items: center;
}
.stocks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 0.3px;
  font-size: 1.2em;
  border-bottom: 3px solid transparent;
}
.navbar .login {
  border: 1px solid #1f8a58;
  padding: 6px 8px;
  border-radius: 25px;
  font-weight: 600;
  background: #4cc49a;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.login:hover {
  scale: 1.1;
}
.login > a:hover {
  color: #333;
}
.logo {
  width: 40px;
  border-radius: 50%;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.logo-transactions {
  width: 40px;
  border-radius: 50%;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.transactions {
  margin-right: auto;
  margin-left: 25px;
  margin-top: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1em;
}
.transactions:hover {
  color: #1f8a58;
  scale: 1.1;
}
.logout {
  font-family: Poppins, sans-serif;
  font-size: 1em;
  border: 1px solid #1f8a58;
  padding: 6px 46.57px;
  border-radius: 25px;
  font-weight: 600;
  background: #4cc49a;
  color: #333;
  cursor: pointer;
  margin-left: 25px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}

.logout:hover {
  scale: 1.1;
}
