.toggle {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto 20px auto;
  border: none;
  padding: 10px 8px;
  border-radius: 25px;
  background: rgba(207, 205, 205, 0.643);
  cursor: pointer;
  --webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}
.line {
  font-size: 20px;
  font-weight: 400;
  margin: 0 4px;
  color: rgba(207, 205, 205, 1);
}
.toggle-search,
.toggle-search-active,
.toggle-list,
.toggle-list-active {
  height: 30px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.toggle-search-active,
.toggle-list-active {
  background: #4cc49a;
  --webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}

@media screen and (max-height: 700px) {
  .toggle {
    margin-top: 90px;
    padding: 10px;
  }
}
@media screen and (max-width: 400px) {
  .toggle {
    margin-top: 90px;
    padding: 10px;
  }
}
